* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: azure;
    width: 100%;
}

header nav {
    width: 70%;
    margin: auto;
    background-color: #fff;
}

 header nav ul {
     background-color: blue;
 }